html {
  height: inherit;
}

html {
  height: 100%;
}

body {
  background: url('/app/img/bg.png') center / cover no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mdl-card {
  background: url('/app/img/lleite.jpg') center / cover;
  width: 510px;
  height: 600px;
  color: #fff;
}

.mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}