{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Car</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ entity.brand }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ entity.color }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('car') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
