// Cyan
$color-500 : #00BCD4;
$color-50 : #E0F7FA;
$color-100 : #B2EBF2;
$color-200 : #80DEEA;
$color-300 : #4DD0E1;
$color-400 : #26C6DA;
$color-500 : #00BCD4;
$color-600 : #00ACC1;
$color-700 : #0097A7;
$color-800 : #00838F;
$color-900 : #006064;
$color-A100 : #84FFFF;
$color-A200 : #18FFFF;
$color-A400 : #00E5FF;
$color-A700 : #00B8D4;